<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar{
            background-color: white;
            border-color:white;
        }
        .nav.navbar-nav li a {
            color: royalblue;
            border-radius:6px;
        }
        .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-nav .open .dropdown-menu > li > a:focus {
            background-color: limegreen;
            color:white;
            border-radius:6px;
        }
        .nav.navbar-nav > li > a:hover,
        .nav.navbar-nav > li > a:focus{
            background-color: limegreen;
            color: white;
        }
        .nav.navbar-nav > .open > a,
        .nav.navbar-nav > .open > a:hover,
        .nav.navbar-nav > .open > a:focus{
            background-color: limegreen;
            color: white;
        }
        .open > .dropdown-menu {
            border:none;
            box-shadow:none;
        }
        .div-table {
            display: table;
            width: 100%;
            background-color: white;
            border: none;
            border-collapse: collapse;
            border-spacing: 5px; /*cellspacing:poor IE support for  this*/
        }
        .div-table-row {
            display: table-row;
            width: 100%;
            height:30px;
            clear: both;
            border-bottom:1px solid #ddd;
        }
        .div-table-col1 {
            float: left; /*fix for  buggy browsers*/
            display: table-column;
            width: 50%;
            margin-left:6px;
            margin-top:6px;
            margin-bottom:6px;
        }
        .div-table-col2 {
            float: left; /*fix for  buggy browsers*/
            display: table-column;
            width: 25%;
            margin-top:6px;
            margin-bottom:6px;
        }
        .div-table-col1 > a{
            margin-left:10px;
        }
        .div-table-col1 > img{
            border-radius:6px;
        }
        .div-table-row:hover{
           background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div align="center" class="page-header" >
        <h1>EmGm</h1>
        <p class="lead">EmGm is a free Web site with collection of popular chords! </p>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-expanded="false" aria-haspopup="true">Аккорды <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Популярные исполнители", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Парсинг сайта amdm.ru", "Parse", "Home")</li>
                    <li>@Html.ActionLink("Удалить все данные", "DeleteAllData", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – EmGm</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
