@model AMDM.WEB.Models.PerformerViewModel

@{
    ViewBag.Title = "Performer";
}

<h2>@Model.Name</h2>
<img src="@Model.ImageLink" style="height: 66px; width:66px;">
<div class="performer-container" align="left">
    <hr />
    <div>
        <h4>Биография</h4>
        <p>@Model.BiographyText</p>
    </div>

        <div class="div-songtable-paging">
            Подборы аккордов
            <div class="paging-count" align="right">Композиций на странице:
                <div id="pagin10"><a>10</a></div>
                <div id="pagin15"><a>15</a></div>
                <div id="pagin20"><a>20</a></div>
            </div>
             <div class="paging-nav"></div>             
        </div>
        <div class="div-songtable">
            <div class="div-songtable-header">
                <div class="div-songtable-col1">Название композиции</div>
                <div class="div-songtable-col2" align="center">Видео</div>
                <div id="views-sort" class="div-songtable-col3-default" align="center"> <a>Просмотров</a><div class="arrow"></div></div>
            </div>
            @foreach (AMDM.WEB.Models.SongViewModel s in Model.Songs)
            {
                <div class="div-songtable-row">
                    <div class="div-songtable-col1">
                        <a href="@s.SongPageLink">@s.Name</a>
                    </div>
                    <div class="div-songtable-col2" align="center">
                        @if (@s.VideoLink.StartsWith("http:/"))
                        {
                            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                        }
                    </div>
                    <div class="div-songtable-col3" align="center">
                        @s.Views
                    </div>
                </div>
            }
        </div>
</div>

<script type="text/javascript">
        $('#views-sort').click(function () {
            var cl = $(this).attr("class");
            sorting = 0;
            var colcl = "div-songtable-col3";

            if (cl == "div-songtable-col3-default") {
                $(this).attr("class", "div-songtable-col3-des");
                $(this).find("div").attr("class", "arrow-down");
                sorting = -1;
            }
            else if (cl == "div-songtable-col3-asc") {
                $(this).attr("class", "div-songtable-col3-des");
                $(this).find("div").attr("class", "arrow-down");
                sorting = -1;
            }
            else if (cl == "div-songtable-col3-des") {
                $(this).attr("class", "div-songtable-col3-asc");
                $(this).find("div").attr("class", "arrow-up");
                sorting = 1;
            }
                
            $(".div-songtable-row").detach().sort(function (a, b) {
                var str1 = parseInt($(a).find('.' + colcl).text(), 10);
                var str2 = parseInt($(b).find('.' + colcl).text(), 10);
                if(sorting == 1){
                    return str1 > str2 ? 1 : -1;
                } else if (sorting == -1) {
                    return str1 > str2 ? -1 : 1;
                }
            }).appendTo($(".div-songtable"));

            // test ------
            var pageSize = 10;
            var container = 'div.div-songtable';
            var selector = '.div-songtable-row';
            var pageCounter = 1;
            var currentPage = 1;
            $(container).find(selector).each(function (i) {

                var classes = $(this).attr("class").split(' ');
                $.each(classes, function (i, c) {
                    if (c.indexOf("page") == 0) {
                        $('.div-songtable-row').removeClass(c);
                    }
                });
                if (i < pageCounter * pageSize && i >= (pageCounter - 1) * pageSize) {
                    $('.div-songtable-row').addClass("page" + pageCounter);
                }
                else {
                    $('.div-songtable-row').addClass("page" + (pageCounter + 1));
                    pageCounter++;
                }
                $(container).find(selector).hide();
                $(container).find(".page" + currentPage).show();
            });
            //test ------
        });




        $('#pagin10').click(function () {
            var pageSize = 10;
            var container = 'div.div-songtable';
            var selector = '.div-songtable-row';
            var pageCounter = 1;
            var currentPage = 1;
            $(container).find(selector).each(function (i) {
                if (i<pageCounter*pageSize && i>= (pageCounter-1)*pageSize){
                    $(this).addClass("page" + pageCounter);
                }
                else {
                    $(this).addClass("page" + (pageCounter+1));
                    pageCounter++;
                }
            });
            // show/hide the appropriate regions 
            $(container).find(selector).hide();
            $(container).find(".page" + currentPage).show();

            if (pageCounter <= 1) {
                return;
            }
            // build page navigation
            var pagingNavContainer = '.paging-nav';
            var pagingNav = '';
            for (i = 1; i <= pageCounter; i++) {
                if (i == currentPage) {
                    pagingNav += "<a class='current-nav nav" + i + "' rel='" + i + "'>" + i + "</a>";
                } else {
                    pagingNav += "<a class='nav" + i + "' rel='" + i + "'>" + i + "</a>";
                }
            }
            $(pagingNavContainer).append(pagingNav);

            //grab the REL attribute 
            $(pagingNavContainer).find('a').click(function () {
                var clickedLink = $(this).attr("rel");
                currentPage = clickedLink;

                $(this).parent().find('.current-nav').removeClass('current-nav');
                $(this).parent().find("a[rel='" + clickedLink + "']").addClass('current-nav');

                $(container).find(selector).hide();
                $(container).find(".page" + currentPage).show();
            });
        });



        /*$("div.div-songtable").quickPager({
            pagerLocation: "both",
            paginationSelector: ".div-songtable-row",
            pageSize: 10
        });
        //$('#pagin10').on("click", pagination(10));
        $('#pagin15').on("click", $("div.div-songtable").quickPager({
            pagerLocation: "both",
            paginationSelector: ".div-songtable-row",
            pageSize: 15
        }));
        //$('#pagin20').on("click", pagination(20));*/
</script>