@model AMDM.WEB.Models.PerformerViewModel

@{
    ViewBag.Title = "Performer";
}

<h2>@Model.Name</h2>
<img src="@Model.ImageLink" style="height: 66px; width:66px;">
<div class="performer-container">
    <hr />
    <div>
        <h4>Биография</h4>
        <p>@Model.BiographyText</p>
    </div>

    <div><h4>Подборы аккордов</h4></div>
    <div class="div-songtable">
        <div class="div-songtable-row-header">
            <div class="div-songtable-col1">Название композиции</div>
            <div class="div-songtable-col2" align="center">Видео</div>
            <div id="views-sort" class="div-songtable-col3-default" align="center"> <a>Просмотров</a><div class="arrow"></div></div>
        </div>
        @foreach (AMDM.WEB.Models.SongViewModel s in Model.Songs)
        {
            <div class="div-songtable-row">
                <div class="div-songtable-col1">
                    <a href="@s.SongPageLink">@s.Name</a>
                </div>
                <div class="div-songtable-col2" align="center">
                    @if (@s.VideoLink.StartsWith("http:/"))
                    {
                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                    }
                </div>
                <div class="div-songtable-col3" align="center">
                    @s.Views
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
        $('#views-sort').click(function () {
            var cl = $(this).attr("class");
            sorting = 0;
            var colcl = "div-songtable-col3";
            if (cl == "div-songtable-col3-default") {
                $(this).attr("class", "div-songtable-col3-des");
                $(this).find("div").attr("class", "arrow-down");
                sorting = -1;
            } else if (cl == "div-songtable-col3-asc") {
                $(this).attr("class", "div-songtable-col3-des");
                $(this).find("div").attr("class", "arrow-down");
                sorting = -1;
            } else if (cl == "div-songtable-col3-des") {
                $(this).attr("class", "div-songtable-col3-asc");
                $(this).find("div").attr("class", "arrow-up");
                sorting = 1;
            }
                
            $(".div-songtable-row").detach().sort(function (a, b) {
                var str1 = parseInt($(a).find('.' + colcl).text(), 10);
                var str2 = parseInt($(b).find('.' + colcl).text(), 10);
                if(sorting == 1){
                    return str1 > str2 ? 1 : -1;
                } else if (sorting == -1) {
                    return str1 > str2 ? -1 : 1;
                }
            }).appendTo($(".div-songtable"));
        });
</script>