@model AMDM.WEB.Models.PerformerViewModel

@{
    ViewBag.Title = "Performer";
}

<h2>@Model.Name</h2>
<img src="@Model.ImageLink" style="height: 66px; width:66px;">
<div class="performer-container" align="left">
    <hr />
    <div>
        <h4>Биография</h4>
        <p>@Model.BiographyText</p>
    </div>

        <div class="div-songtable-paging">
            Подборы аккордов
            <div class="paging-count" align="right">Композиций на странице:
                <div id="pagin10"><a>10</a></div>
                <div id="pagin15"><a>15</a></div>
                <div id="pagin20"><a>20</a></div>
            </div>
             <div class="paging-nav"></div>             
        </div>
        <div class="div-songtable">
            <div class="div-songtable-header">
                <div class="div-songtable-col1">Название композиции</div>
                <div class="div-songtable-col2" align="center">Видео</div>
                <div id="views-sort" class="div-songtable-col3-default" align="center"> <a>Просмотров</a><div class="arrow"></div></div>
            </div>
            @foreach (AMDM.WEB.Models.SongViewModel s in Model.Songs)
            {
                <div class="div-songtable-row">
                    <div class="div-songtable-col1">
                        <a href="@s.SongPageLink">@s.Name</a>
                    </div>
                    <div class="div-songtable-col2" align="center">
                        @if (@s.VideoLink.StartsWith("http:/"))
                        {
                            <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                        }
                    </div>
                    <div class="div-songtable-col3" align="center">
                        @s.Views
                    </div>
                </div>
            }
        </div>
</div>

<script type="text/javascript">
    $('.div-songtable').pagination();
</script>